$dark: #3E363F;
$red: #DD403A;
$cream: #FFFCE8;

body {
    font-size: 1.5em;
    line-height: 1.6;
    font-family: 'Raleway', sans-serif;
    background-color: $dark;
}
.title {
  padding-bottom: 40px;
}
.paragraph {
  padding-bottom: 20px;
}

.comment-box {
  font-family: 'Raleway', sans-serif;
  border-radius: 4px;
  padding: 2em;
  height: 100vh;
  margin-top: 0.25em;
  background-color: rgba($cream, 0.95);
  opacity: 1;
}

.blogpost {
  font-family: 'Raleway', sans-serif;
  border-radius: 4px;
  padding: 2em;
  margin-top: 3em;
  background-color: rgba($cream, 0.95);
  opacity: 1;
}

.comment-box-title {
  padding-top: 0%;
  margin-top: 0px;
}

.comment-textarea {
  margin-top: 3px;
}

.hide-button {
  margin-top: 1em;
  padding-bottom: 4em;
  padding-right: 30px;
}

.avatar {
   content:url(/avatar.png);
   height: auto;
   width:70px;
   float:left;
   padding: 5px;
}​

.comment-right {
 padding-left: 30px;
}

.comment-bottom {
  padding-left: 90px;
}

.comment-top {
  font-size: 1.1em;
  padding-left: 80px;
}
#delete-a {
    color: $dark;
  float: right;
  -webkit-transition: color 1s;
  -webkit-transition: font-size 1s;
  &:hover {
    font-size: 1.1em;
    color: $red;
  }
}

hr {
    border: 0;
    height: 1px;
    color: $dark;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
